---
title: K3G == GitLab on K3S inside Docker
---
<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="x-ua-compatible" content="ie=edge">
		<meta name="description" content="">
		<meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="/css/chota.min.css">
    
	</head>
	<body>
		<div class="container">
      {{ content | safe }}
		</div>
	</body>
  <script src="/js/adoptedStyleSheets.js"></script>
  <script type="module">

    let styleSheetPromise = (cssPath, variableName) => fetch(cssPath)
            .then(response => response.text())
            .then(cssRaw => {
              const sheet = new CSSStyleSheet()
              sheet.replaceSync(cssRaw)
              // save the css result to a global variable to share styles
              // with web components
              window[variableName] = sheet
              return sheet
            })
            .catch(error => console.log(`😡 [${variableName}]`, error))

    Promise.all([
        styleSheetPromise("/css/chota.min.css", "chota")

    ]).then(styleSheets => {
      // apply styles to the main document (`body, html, ...`)
      document.adoptedStyleSheets = styleSheets
      import("/components/NiceTitle.js")
      import("/components/ReturnToHome.js")
      import("/components/K3gLogo.js")
      import("/components/K3gSmallLogo.js")
      import("/components/NavBar.js")
      
    })

  </script>

</html>  